/*SERVICIOS/*/
body {
  div {
    color: $color_2;
    font-style: $font-family_1;
    overflow-y: hidden;
    .titulos {
      h1 {
        color: $color_1;
        font-size: 4rem;
        text-align: center;
        font-family: $font-family_1;
        height: 5rem;
      }
      h2 {
        color: $color_1;
        font-size: 4rem;
        text-align: center;
        font-family: $font-family_1;
        height: 5rem;
      }

      h3 {
        .parrafo {
          color: $color_1;
          font-size: 4rem;
          text-align: center;
          font-family: $font-family_1;
          height: 5rem;
        }
      }
    }
  }
  section.servicios {
    display: grid;
    border-color: $color_2;
    border-style: dotted;
    display: block;
    text-align: center;
    margin: 3rem;
    margin-top: 2rem;
    padding: 2rem;

    p {
      color: $color_2;
      font-size: 2rem;
      text-align: center;
      font-family: $font-family_2;
      height: fit-content;
    }
    &:hover {
      background-color: $fondos-animaciones;
    }

    grid-area: servicios;
    .presencial {
      grid-area: "presencial";
      width: 45rem;
    }
    .virtual {
      grid-area: "virtual";
      width: 45rem;
    }
    .videollamada {
      grid-area: "videollamada";
      width: 45rem;
    }

    section button {
      border-radius: 5px;
      cursor: pointer;
      align-items: center;
    }
    .colorBoton {
      background-color: $fondo-boton1;
      border-color: $color-boton1;
      color: $color_3;
    }
  }
}
