/*	SECTION ARREGLAR EL CARRUSEL */
.contenedor {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "carrusel"
    "cambio"
    "beneficios"
    "footer";
  overflow-y: hidden;

  section.carrusel {
    margin-top: 0;
    grid-area: carrusel;
  }

  .cambio {
    grid-area: cambio;
  }
  .beneficios {
    grid-area: beneficios;
  }
  section.principal {
    border-color: $color_2;
    border-style: dotted;
    display: block;
    text-align: center;
    margin: 3rem;
    margin-top: 2rem;
    padding: 2rem;
  }
}

.none {
  display: none;
}
h2 {
  justify-content: center;
  text-align: center;
  font-family: $font-family_1;
  color: $color_2;
  margin: 3rem;
  font-size: 3rem;
  overflow-y: hidden;
}

h3 {
  justify-content: center;
  text-align: center;
  font-family: $font-family_1;
  color: $color_2;
  margin: 3rem;
  font-size: 3rem;
  overflow-y: hidden;
  grid-area: "beneficios";
}

p {
  text-align: center;
  font-family: $font-family_1;
  color: $color_2;
  overflow-y: hidden;
  margin: 3rem;
}
