/*ANTROPOMETRIAS*/

body.contenedorE {
  width: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "img cajaAntro"
    "footer footer";

  section {
    h1 {
      color: $color_2;
      font-size: 4rem;
      text-align: center;
      font-family: $font-family_1;
      overflow-y: hidden;
    }
    img {
      width: 35%;
      height: 40rem;
      grid-area: img;
      vertical-align: middle;
      float: left;
      margin-right: 15px;
      margin-left: 5rem;
      margin-top: 10rem;
    }

    section.cajaAntro {
      grid-area: cajaAntro;
      border: 0.5rem whitesmoke;
      border-style: dashed;
      padding: 1rem;
      margin-top: 5rem;
      width: 60%;
      &:hover {
        background-color: $fondos-animaciones;
        align-items: center;
      }

      h2 {
        color: $color_2;
        font-size: 4rem;
        text-align: center;
        font-family: $font-family_1;
      }
    }
    .parrafo {
      color: $color_2;
      font-size: 2rem;
      text-align: center;
      font-family: $font-family_2;
      height: fit-content;
    }
  }

  header {
    grid-area: header;
  }

  footer {
    grid-area: footer;
  }
}
