header {
  width: 100%;
  background-color: $background-color_1;
 

  img {
    width: 45rem;
    height: 20rem;
  }

  li {
    color: $color_1;
    font-family: $font-family_2;
    font-weight: bold;
    list-style-type: none;
    display: inline;
    margin: 1rem;

    a {
      color: $color_1;
      font-family: $font-family_2;
      margin: 2rem;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: $color_1;
      font-family: $font-family_2;
      align-items: center;
    }
  }
}
