
$color_1: orangered;
$color_2: white;
$color_3: grey;
$font-family_1: "Oswald", sans-serif;
$font-family_2: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode";
$background-color_1: white;
$background-color_2: #ff9338;
$fondos-animaciones: grey;
$border-color_1: white;
$color-boton1: peachpuff;
$fondo-boton1: papayawhip;
$ancho-bordes: 2.5px;
$bordes-cajas: 4px;

  
 

